USE [master]
GO
/****** Object:  Database [BTS]    Script Date: 7/19/2023 10:35:02 PM ******/
CREATE DATABASE [BTS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BTS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BTS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BTS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BTS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BTS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BTS]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 7/19/2023 10:35:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminName] [varchar](20) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[Role] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bird]    Script Date: 7/19/2023 10:35:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bird](
	[BirdID] [int] IDENTITY(1,1) NOT NULL,
	[BirdName] [varchar](50) NOT NULL,
	[Origin] [varchar](50) NULL,
	[Picture] [varchar](50) NULL,
	[Price] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[BirdID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 7/19/2023 10:35:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Phone] [varchar](15) NULL,
	[Role] [varchar](10) NOT NULL,
	[Address] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Delivery]    Script Date: 7/19/2023 10:35:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delivery](
	[DeliveryID] [int] IDENTITY(1,1) NOT NULL,
	[DeliveryName] [varchar](50) NULL,
	[OrderIDetail] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DeliveryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 7/19/2023 10:35:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[BirdID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Status] [nvarchar](30) NULL,
	[OrderDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 7/19/2023 10:35:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderIDetail] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[AddressShip] [nvarchar](100) NOT NULL,
	[Phone] [varchar](15) NULL,
	[Pay] [varchar](20) NULL,
	[TransportID] [int] NOT NULL,
	[TotalPrice] [float] NULL,
	[AddressFrom] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderIDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transport]    Script Date: 7/19/2023 10:35:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transport](
	[TransportID] [int] IDENTITY(1,1) NOT NULL,
	[MethodShip] [varchar](50) NULL,
	[Backpack] [varchar](50) NULL,
	[Price] [float] NULL,
	[Vehicel] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Admin] ([AdminName], [Password], [Role]) VALUES (N'admin', N'123', N'admin')
GO
SET IDENTITY_INSERT [dbo].[Bird] ON 

INSERT [dbo].[Bird] ([BirdID], [BirdName], [Origin], [Picture], [Price]) VALUES (1, N'Blackbird', N'USA', N'Blackbird.jpg', 50)
INSERT [dbo].[Bird] ([BirdID], [BirdName], [Origin], [Picture], [Price]) VALUES (2, N'Blue tit', N'USA', N'Bluetit.jpg', 50)
INSERT [dbo].[Bird] ([BirdID], [BirdName], [Origin], [Picture], [Price]) VALUES (3, N'Buzzard', N'USA', N'Buzzard.jpg', 50)
SET IDENTITY_INSERT [dbo].[Bird] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [CustomerName], [Password], [Phone], [Role], [Address]) VALUES (1, N'John', N'123', N'0123456781', N'user', NULL)
INSERT [dbo].[Customer] ([CustomerID], [CustomerName], [Password], [Phone], [Role], [Address]) VALUES (2, N'Cris', N'123', N'0123456782', N'user', NULL)
INSERT [dbo].[Customer] ([CustomerID], [CustomerName], [Password], [Phone], [Role], [Address]) VALUES (3, N'Vini', N'123', N'0123456783', N'user', NULL)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Delivery] ON 

INSERT [dbo].[Delivery] ([DeliveryID], [DeliveryName], [OrderIDetail]) VALUES (1, N'456 LA123 MIT', 7)
INSERT [dbo].[Delivery] ([DeliveryID], [DeliveryName], [OrderIDetail]) VALUES (2, N'Copacabana Rio de Janeiro', 8)
SET IDENTITY_INSERT [dbo].[Delivery] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [BirdID], [CustomerID], [Status], [OrderDate]) VALUES (13, 4, 1, N'Cancel', CAST(N'2023-07-12' AS Date))
INSERT [dbo].[Order] ([OrderID], [BirdID], [CustomerID], [Status], [OrderDate]) VALUES (28, 3, 1, N'Cancel', CAST(N'2023-07-12' AS Date))
INSERT [dbo].[Order] ([OrderID], [BirdID], [CustomerID], [Status], [OrderDate]) VALUES (29, 3, 1, N'Cancel', CAST(N'2023-07-12' AS Date))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([OrderIDetail], [OrderID], [AddressShip], [Phone], [Pay], [TransportID], [TotalPrice], [AddressFrom]) VALUES (1, 13, N'123 Boston', N'0123456781', N'COD', 17, 120, NULL)
INSERT [dbo].[OrderDetail] ([OrderIDetail], [OrderID], [AddressShip], [Phone], [Pay], [TransportID], [TotalPrice], [AddressFrom]) VALUES (2, 28, N'123 Boston', N'0123456781', N'COD', 34, 50, NULL)
INSERT [dbo].[OrderDetail] ([OrderIDetail], [OrderID], [AddressShip], [Phone], [Pay], [TransportID], [TotalPrice], [AddressFrom]) VALUES (3, 29, N'456 MIT', N'0123456781', N'COD', 35, 50, NULL)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Transport] ON 

INSERT [dbo].[Transport] ([TransportID], [MethodShip], [Backpack], [Price], [Vehicel]) VALUES (1, N'', N'Petsfit Backpack Bird Carrier', 50, N'Car')
INSERT [dbo].[Transport] ([TransportID], [MethodShip], [Backpack], [Price], [Vehicel]) VALUES (2, N'', N'Petsfit Backpack Bird Carrier', 70, N'Vehical')
INSERT [dbo].[Transport] ([TransportID], [MethodShip], [Backpack], [Price], [Vehicel]) VALUES (3, N'', N'A&E Soft-Sided Bird Travel Cage', 93, N'Car')
SET IDENTITY_INSERT [dbo].[Transport] OFF
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD FOREIGN KEY([OrderIDetail])
REFERENCES [dbo].[OrderDetail] ([OrderIDetail])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([BirdID])
REFERENCES [dbo].[Bird] ([BirdID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([TransportID])
REFERENCES [dbo].[Transport] ([TransportID])
GO
USE [master]
GO
